body {
  background: linear-gradient(109.6deg, rgb(204, 228, 247) 11.2%, rgb(237, 246, 250) 100.2%);
  font-family: 'Montserrat', sans-serif;;
}

.App {
  margin: 60px auto;
  max-width: 800px;
}

.container-fluid {
  max-width: 720px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #a2f0d9;
  box-shadow: 10px 10px 15px #adcdce;
}

.row {
  margin-right: 10px;
}


@media (max-width: 450px) {
  .App{
    margin: 60px 5px;
  }
}
