footer {
    color: rgba(39, 33, 66, 0.4);
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}

footer a {
    color: #006466;
}


@media (max-width: 450px) {
    footer {
        font-size: 13px;
        line-height: 18px;
    }
}