strong {
    color: #41506b;
    font-weight: 500;
}

h1 {
    color: #263849;
    font-weight: bolder;
    margin-left: 30px;
}

li {
    list-style: none;
    color: #aba8b4;
}

.description {
    text-transform: capitalize;
}

.weatherIcon {
    font-size: 50px;
    margin: 10px 0;
}

.loader {
    width: 25%;
    margin: 30px auto;
}


@media (max-width: 450px) {
    h1 {
        font-size: 24px
    }



    .weatherContainer {
        width: 75%;
        margin: 0px auto;
    }

    .weatherDetails {
        font-size: 16px;
    }

    .weatherIcon {
        font-size: 30px;
        width: 85px;
        height: 85px;
        margin: 0px 20px 35px 20px;
    }

    .col-7, .col-5 {
        padding: 0px 0px;
    }
}