strong {
    color: #41506b;
    font-weight: 500;
}

h1 {
    color: #263849;
    font-weight: bolder;
    margin-left: 30px;
}

li {
    list-style: none;
    color: #aba8b4;
}

.description {
    text-transform: capitalize;
}

.weatherIcon {
    font-size: 50px;
    margin: 10px 0;
}

.loader {
    width: 25%;
    margin: 30px auto;
}