strong {
    color: #41506b;
    font-weight: 500;
}

h1 {
    color: #263849;
    font-weight: bolder;
    margin-left: 30px;
}

li {
    list-style: none;
    color: #aba8b4;
}

.description {
    text-transform: capitalize;
}

.weatherIcon {
    font-size: 50px;
    margin: 10px 0;
}
  
.temperature {
    color: #000;
    font-size: 55px;
    font-weight: 700;
    line-height: 1;
    margin-left: 10px;
}
  
.unit {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    line-height: 1;
    position: relative;
    top: -34px;
}
  
.fahrenheit {
    color: #000000;
    cursor: default;
    text-decoration: none;
}
  
.fahrenheit:hover {
    color: #2c8fcc;
    text-decoration: underline;
}